html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	background: #444444;
}
a{
	color: white;
}

h1{
	font-size: 2.6rem;
	text-transform: uppercase;
	display: block;
}
h1 strong{
	display: block;
	font-weight: bold;
}
#navigation{
	width: 100%; 
	border-top: 5px solid #cc3333;
}

#navigation ul{
	max-width: 960px;
	margin: 0 auto;
	height: 45px;
}

#navigation ul li a{
	float: left;
	margin-left: 40px;
	font-size: 1.4rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px;
}
#navigation ul li a:hover{
	 background-color: rgba(0, 0, 0, 0.3);
}

#navigation  ul  li:nth-child(6) a{
	 /*padding: 15px;*/
	background: #c0392b;
}



section {
	margin: 0 auto;
}
section::after{
	content: "";
	display: block;
	clear: both;
}




/*call-to-action*/
#call-to-action{
	width: 100%;
	height: 500px;
 	background-size: cover;
	background-image: url("../images/banner.jpg");
	margin-bottom: 50px;
}

#call-to-action img{
	margin-top: 120px;
	margin-left: 12%;
	float: left;
}



/* ============================= Bikes ============================= */

#bikes{
	max-width: 960px;
	margin-bottom: 50px;
	min-height: 250px;
}
#bikes article{
	width: calc(100%/3 - 4rem / 3);
	min-height: 200px;
	float: left;
	/*box-sizing: border-box;*/
	text-align: center;
	font-weight: bold;

}
#bikes article:nth-of-type(1n){
	background-image: url("../images/bikes.jpg");
	background-size: 100% 100%;
}

#bikes article:nth-of-type(2n){
	background: url("../images/speedometer.jpg") center;
}

#bikes article:nth-of-type(3n){
	background: url("../images/backpack.jpg") center;
}

#bikes article:not(:nth-of-type(3n)) {
	margin-right: 2rem;
}

#bikes > article h1{
	text-transform: uppercase;
	background: black;
	margin-top: 50px;
	padding: 10px;
	margin-bottom: 40px;
	color: white;
	opacity: 0.8;
	font-size: 2.4rem;
}

#bikes > article a{
	color: white;
	background: #cc3333;
	padding: 10px;
	font-size: 1.2rem;
}

/* ============================= Benefits ============================= */
#benefits h1{
	text-align: center;
	color: white;
} 

#benefits ul{
    width: 960px;
    margin: 0px auto;
}

#benefits ul li{
    float: left;
    width: calc(100%/3 - 6rem/3);

}

#benefits ul li:not(:nth-of-type(3)){
    margin-right: 1rem;
}



#benefits {
  background: #111111;
  padding: 7rem 0px;
  text-align: center;
  background: url('../images/gears.jpg') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: white;
}

#benefits::before{
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display:block;
  position: absolute;
  z-index: -1;
}

#benefits::after{
  content:"";
  display:block;
  clear:both;
}


#benefits ul li{
    padding-top: 17rem;
    background-position: center 3rem;
    background-repeat: no-repeat;
    position: relative;
}
#benefits ul li h3{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 2rem;
}

#benefits ul li p{
    padding: 1rem 0;
    color:rgba(255,255,255,0.6);
}

#benefits ul li:nth-of-type(1){
    background-image: url('../images/truck.png');
}

#benefits ul li:nth-of-type(2){
    background-image: url('../images/wrench.png');
}

#benefits ul li:nth-of-type(3){
    background-image: url('../images/envelope.png');
}

#benefits ul li::before{
    content: "";
    width: 11.4rem;
    height: 11.4rem;
    position: absolute;
    border: 4px solid white;
    top: 3rem;
    left: 9.5rem;
}

#benefits label{
    display: none;
}

#benefits form{
    margin-top: 1rem;
}
#benefits form p {
    display: inline-block;
}


#benefits button{
    background: #C0392b;
    border:none;
    outline: none;
    padding: 0.5rem 1rem;
    color: white;
    margin-left: 1rem;
}

#benefits input[type='text']{
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
}

/* ============================= Shop Page============================= */
#shop-container{
	width: 100%;
	background: #ffffff;
}
.shop-full-page{
	width: 1000px;
	margin: 0 auto;
}

#shop-menu{
	width: 200px;
	margin-left: 30px;
	margin-top: 20px;
	/*border: solid 1px red;*/
	float: left;
}
#shop-menu p {
	font-size: 2rem;
	font-weight: bold;
	color: #C0392B;
}

#shop-menu ul li, #shop-menu ol li{
	margin-bottom: 10px;
	font-size: 1.6rem;
}

/* ============================= Shop ============================= */
#shop {
	min-height: 1000px;
	height: auto;
	background: white;
}

#shop header, #shop ul{
	width: 960px;
	margin: 0 auto;
}
#shop header h1{
	padding-top: 20px;
	margin-bottom: 30px;
	line-height: 1.7rem;
	color: #444444;
	font-weight: 400;
}

#shop header h1 strong{
	color: black;
	display: block;
	line-height: 1em;
	font-weight: bold;
}


#shop ul li img{
	max-height: 150px;
	padding: 5px;
	object-fit: cover;
}

#shop ul li::before{
    content: "Sale";
/*    width: 30px;
    height: 20px;
    border: solid 1px red;*/
    position: relative;
    background: #C0392B;
    color: white;
    z-index: 1;
    left: 0.6rem;
    top:1.6rem;
    padding: 0.7rem 1.5rem;



 
}


#shop ul li {
	width: calc(100%/4 - 4rem / 3);
	height: 370px;
	border: solid 0.5px white;
	float: left;
	margin-bottom: 40px;
}

#shop ul li:hover {
	border: solid 0.5px #DDDDDD;
}
#shop ul li p{
	color: #666666;
	padding: 0px 2px 0 5px;
}
#shop ul li p strong{
	display: block;
	font-weight: bold;
	padding-top: 7px;
}

#shop ul li h1{
	font-size: 1.4rem;
	font-weight: bold;
	padding: 5px;
}

#shop ul li:not(:nth-child(4n+1)) {
	margin-left: 10px;
}

/*#shop ul li:not(:first-child) {
	margin-left: 1.25rem;
}*/


#shop ul li img{
	width: 100%;
}

#shop ul .rating{
    display: inline-block;
    float: left;
    width: 100%;
    height: 15px;
}


#shop meter{
    text-align: right;
}

.rating{
    font-size: 2.40rem;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url('../images/ratings.png');
	background-repeat: no-repeat;
	background-size: auto 17rem;
	background-position: left 0;
}

.rating[data-rating="1"]{
	background-position: left -5.8rem;
}

.rating[data-rating="2"]{
	background-position: left -7.8rem;
}

.rating[data-rating="3"]{
	background-position: left -9.3rem;
}


.rating[data-rating="4"]{
	background-position: left -10.9rem;
}

.rating[data-rating="5"]{
	background-position: left -13.9rem;
}

/* ============================= Club Event ============================= */
#events{
	max-width: 960px;
	background: #ffffff;
}
#events::after{
	content: "";
	height: 20px;
	margin-bottom: 80px;
}
#events ol {
	width: 840px;
	margin: 0 auto;
}
#events ol li{
	display: inline-block;
	width: 110px;
	height: 60px;
	margin-left: 20px;
	background: red;
	text-align: center;
}

#events table{
	margin-top: 100px;
}

#events table tr{ 
	
	border: solid 1px #dddddd;
}
#events table tr:hover{ 
	background: #dddddd;
}
#events table tr h1{
	font-weight: bold;
	font-size: 2rem;
} 

#events table td{
	width: calc(100%/3);
	float: left;
	padding: 20px;
	
}

#events table td h2{
	font-weight: bold;
	font-size: 1.6rem;
	padding-top: 20px;
}


/* ============================= Blog ============================= */
#blog{
	max-width: 960px;
	background: #ffffff;
}

#blog::after{
	content: "";
	height: 20px;
	margin-bottom: 80px;
}
#categories{
	width: 280px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px;
	background: #dddddd;
	float: left;
}
#categories h1{
	font-weight: bold;
	font-size: 1.8rem;
}
#categories ul li{
	
	margin-bottom: 10px;
}

#post{
	width: 660px;
	float: right;
	padding: 20px;
	margin-bottom: 20px;
}
#post article{
	margin-bottom: 20px;
}
#post h1{
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 1.8rem;
}


#post img{
	width: 100%;
	max-height: 300px;
	object-fit: cover;

}
/* ============================= Contact ============================= */
#contact{
	max-width: 960px;
	margin-top: 100px;
	background: #ffffff;
}

#contact::after{
	content: "";
	height: 20px;
	margin-bottom: 80px;
}
#contact-map{
	width: 100%;
	height: 300px;
	padding-top: 10px;
	clear: both;
	float: right;
}
#contact-info{
	width: 280px;
	min-height: 100vh;
	margin-top: 30px;
	padding: 20px;
	margin-left: 20px;
	float: left;
	background: #dddddd;
}
#contact-info p, address{
	margin-bottom: 20px;
}
#contact-info h1{
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 30px;
}

#contact-info strong{
	font-weight: bold;
	color: #c0392b;

}
#contact-form{
	width: 660px;
	padding: 20px;
	float: right;
}
#contact-form button{
	width: 100%;
	height: 40px;
	background: black;
	color: #ffffff;
	text-align: center;
	margin-bottom: 60px;
}
#contact-form #name, #email{
	width: 50%;
	height: 50px;
	padding: 10px;
	border: solid 1px #dddddd;
	float: left;
}
#contact-form input[type="text"]{
	width: 100%;
	height: 50px;
	padding: 10px;
	border: solid 1px #dddddd;

}
#contact-form #comment{
	height: 170px;
}
#contact-form h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3.4rem;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}
#contact-form h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

/* ============================= Footer ============================= */

footer>nav>ul>li, footer>nav>ul>li>a {
 	font-weight: bold;
    text-transform: uppercase;
    line-height: 3.2rem;
    color: white;
}

footer{
    background-color: #111;
    padding:6rem 10%;
    font-size: 1.3rem;
    /*margin-top: 100px;*/
}

footer>nav::after{
    content: "";
    clear: both;
    display: block;
}

footer>nav>ul{
    float: left;
    width: calc(100%/5 - 1rem);
}



footer>nav>ul>li>ul>li>a{
    color: rgba(255,255,255, 0.6);
    font-weight: normal;
    text-transform: capitalize;
}

footer ul li a:hover{
    opacity: 0.6;
    cursor:pointer;
}

footer .social{
    float: right;
    text-align: right;
}

footer .social li>ul{
    float: right;
    display: block;
    width: 91%;
    text-align: left;
}

footer .social li>ul>li{
    float: left;
    display: inline-block;
    margin-left: 1rem;
}

footer .social li>ul>li a{
    display: block;
    text-indent: -9999px;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: all 200ms ease-out;
}

footer .social li>ul>li a:hover{
    opacity: 1;
}

footer .social li>ul>li a[href*='facebook']{
    background-image: url('../images/facebook.png');
}

footer .social li>ul>li a[href*='twitter']{
    background-image: url('../images/twitter.png');
}

footer .social li>ul>li a[href*='instagram']{
    background-image: url('../images/instagram.png');
}

footer .social li>ul>li a[href*='google']{
    background-image: url('../images/google.png');
}
footer .social li>ul>li a[href*='youtube']{
    background-image: url('../images/youtube.png');
}


footer section {
    display: block;
    border-top: 1px solid rgba(255,255,255, 0.6);
    color: rgba(255,255,255, 0.8);
    margin-top: 3rem;
    padding-top: 4rem;
}

footer section p{
    float: left;
    width: 50%;
}

footer section ul{
    float: right;
    width: 50%;
    text-align: right;
}

footer section ul li{
    display: inline-block;
}

footer section ul li a{
    color: rgba(255,255,255, 0.8);
    padding: 0 1rem;
}